.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bg {
  background-color: #ff9108;
  padding: 13px;

  font-size: 24px;
  font-weight: 500;
  text-align: unset;
}

.web-form {
  margin-top: 30px;
  width: 600px;
  border-radius: 23px;
  background-color: #cacaca;
}


.form-head {
    background-color: #ff9108;
    border-top-right-radius: -5px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
}

input {
  margin-left: 50px;
}

.form-body {
  font-size: larger;
}

form{
  padding: 20px;
}

input{
  padding: 10px;
  width: 250px;
  margin: 10px;
}

label{
  font-weight:600;
}

input[type="submit"]{
  background-color: rgb(67, 93, 241);
  border-radius: 10px;
  font-size: 24px;
  width: fit-content;
  padding: 10px;
  color: azure;
}

input[type="reset"]{
  background-color: rgb(236, 59, 35);
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
  width: fit-content;
  color: azure;
}